<h2> Edit this band:</h2>

<form action="/bands/$band.getId()/change-name" method="post">
  <label for="newName">New Band Name</label>
  <input id ="newName" name="newName" type="text">
  <button type="submit"> Change Band Name </button>
</form>
